.env
/venv
/.streamlit/streamlit.toml
/.streamlit/secrets.toml
__pycache__/
*.pyc
test_queries.py
db_build.py
.DS_Store
**/.DS_Store
__pycache__/
/.streamlit/.streamlit.toml
**/secrets.toml
*.toml
README2.md
info.md
